body{
  background: yellow;
  text-align:center;
}
img{
  width: 50%;
}
.card{
  background-color:lightgreen;
  border-radius: 1.5em;
width:50%;
vertical-align: middle;
display:block;
margin-left: auto;
margin-right: auto;
}
#card{
  justify-content: space-around;
  display:flex;
  margin: 2%;
  border-radius: 1.5em;
  width:50%;
}

.card:hover{
	box-shadow: 0 8px 8px 20px blue;
}